.appCard{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    /* transition: 0.3s; */
    width: 20%;
    height: 200px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    }