.profilePage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}

.profile-section {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.quote-section {
    margin: 20px auto;
    max-width: 250px;
    background-color: #D9C4B3;
}

.post-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 60%;
    max-width: 800px;
}

.editPost-link {
    display: flex;
    justify-content: end;
    margin-top: 10px
}
