.mainProfilePosts {
    font-family: 'Montserrat', sans-serif;  
    font-weight: 600;
    font-size: 30px;
}

.profilePage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2d3318;
}

.profile-img {
    display: center;
    width: 100px; 
    height: 80px; 
    
}
.profile-section {

    display: flex;
    margin: 50px;
    border-radius: 3px;
    background-color: #A1B182;
    padding: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.quote-section {
    margin: 20px auto;
    max-width: 250px;
    background-color: #afc08e;
    
}

.posts-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 60%;
    max-width: 800px;
}

.editPost-link {
    display: flex;
    justify-content: end;
    margin-right: 6%;
}
.editDeletePostBtn {
    font-family: 'Montserrat', sans-serif;  
    font-weight: 400;
    letter-spacing: 1px;
    background-color: #535F2D;
    color: #fff;
    padding: 1px 15px;
    border-radius: 3%;
    margin: auto;
    text-align: center;
    /* display: inline-block !important; */
    text-decoration: none;
    border: 0px;
    
    cursor: pointer;
    transition: all 0.3s 0s ease-in-out;
}
    
.editDeleteCommentBtn:hover {
    background-color: #616e34; 
    color: white;
}
.manifest-lst {
    display: flex;
    margin: 50px;
    border-radius: 3px;
    background-color:#afc08e;
    padding: 50px;
    text-align: center;

}

.manifest-title {
    display: center;
    font-family: 'Montserrat', sans-serif;  
    font-weight: 200; 
    color:#7F5D53;
    text-align: center;

}


.edit-profile-btn {
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: 200 !important;
    background-color: #535F2D;
    color: #fff;
    padding: 10px 15px;
    border-radius: 3%;
    margin: auto;
    text-align: center;
    display: inline-block !important;
    text-decoration: none;
    border: 0px;
    width: max-content;
    cursor: pointer;
    transition: all 0.3s 0s ease-in-out;
  

  }
  .edit-profile-btn:hover {
    background-color: #616e34; 
    color: white;
    }


    .postfeed-profilePage {
    font-family: 'Montserrat', sans-serif;  
    font-weight: 400;
    
    background-color: #f5e8dd;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
    width: 100%;
    border-radius: 2%;  
    color: #2d3318;
    text-align:left;
    text-indent: 2%;
    margin: auto;
    padding-top: 10px;
    }