

.headerManifestUpdate {
    font-family: 'Montserrat', sans-serif;  
    font-weight: 600;
}

.postTitleHeader {
    font-family: 'Montserrat', sans-serif;  
    font-weight: 600;
    
}

.postEdit-input{
    background-color: beige;
}

.postEditComponent {


    margin: 100px auto; 
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
    width: 60%;
    height: 100%;
    border-radius: 2%;  
    padding: 10px 0px 50px 10px;
    font-family: 'Montserrat', sans-serif;  
    font-weight: 600;
    color: #d3baf5;
    background: linear-gradient(
        to right,
        #A1B182,
        #4B2E75
        
    ); 
    
}

.postEdit{
    display: flex;
    flex-direction: column;
}

.upd-delete-cancel-btn-section{
    margin: 30px auto;

}

.submitButtonUpdate{
    
    background-color: #535F2D;
    color: #fff;
    padding: 10px 15px;
    border-radius: 3%;
    margin: auto;
    text-align: center;
    text-decoration: none;
    border: 0px;
    width: max-content;
    cursor: pointer;
    transition: all 0.3s 0s ease-in-out;
}

.submitButtonUpdate:hover {
    background-color: #616e34; 
    color: white;
}
    



.deleteButtonPost:hover{
    background-color: #523875; 
    color: white;
}

.deleteButtonPost {
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: 200 !important;
    background-color: #535F2D;
    color: #fff;
    padding: 10px 15px;
    border-radius: 3%;
    margin: auto;
    text-align: center;
    display: inline-block !important;
    text-decoration: none;
    border: 0px;
    width: max-content;
    cursor: pointer;
    transition: all 0.3s 0s ease-in-out;
}