.music-button, .toggle-btn {
    display: flex;
    flex-direction: column;
    margin: 50px;
    border-radius: 10px;
    /* background-color:#afc08e; */
    background: linear-gradient(
      to right,
      #A1B182,
      #4B2E75
      
  ); 
    padding: 10px;
    text-align: center;
  }

p {
  font-family: 'Montserrat', sans-serif; 
  line-height: 0;
}