
.comment-container {
    display: flex;
    margin: 50px;
    border-radius: 5px;
    background-color:#afc08e;
    padding: 20px;
    color: #2d3318;
  
  }
 
  .commentForm-input {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      box-sizing: border-box;
      background-color: beige;
      color: #2d3318;
  }
  .comment-btn {
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: 200 !important;
    background-color: #535F2D;
    color: #fff;
    padding: 10px 15px;
    border-radius: 3%;
    margin: auto;
    text-align: center;
    display: inline-block !important;
    text-decoration: none;
    border: 0px;
    width: max-content;
    cursor: pointer;
    transition: all 0.3s 0s ease-in-out;

  }

  .comment-btn:hover {
    background-color: #616e34; 
    color: white;

  }  

  .editDeleteCommentBtn {
    font-family: 'Montserrat', sans-serif;  
    font-weight: 400;
    letter-spacing: 1px;
    background-color: #535F2D;
    color: #fff;
    padding: 1px 15px;
    border-radius: 3%;
    margin: auto;
    text-align: center;
    /* display: inline-block !important; */
    text-decoration: none;
    border: 0px;
    
    cursor: pointer;
    transition: all 0.3s 0s ease-in-out;
    margin: 0 5px;
}

.commentBox {
  margin: 0 0 0 20px;
  display: inline;
}