
 .post-container {
    display: flex;
    margin: 50px;
    border-radius: 5px;
    background: linear-gradient(
      to right,
      #A1B182,
      #4B2E75
      
  ); 
    padding: 20px;
    text-align: center;
  }
 
  .postForm-input {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      box-sizing: border-box;
      background-color: beige;
      color: #2d3318;
  }

  .postForm-textarea{
    color: #535F2D;
    background-color: beige;
  }
  

  .post-Btn {
  
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: 200 !important;
    background-color: #535F2D;
    color: #fff;
    padding: 10px 15px;
    border-radius: 3%;
    margin: max-content;
    text-align: center;
    display: inline-block !important;
    text-decoration: none;
    border: 0px;
    width: max-content;
    cursor: pointer;
    transition: all 0.3s 0s ease-in-out;
  

  }
  .post-Btn:hover {
    background-color: #616e34; 
    color: white;
    }