.signUpFormComponent {
    /* width: 500px; */



    margin: 100px; 
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
    width: 25%;
    height: 75%;
    border-radius: 2%;  
    padding: 10px 0px 0px 10px;
    font-family: 'Montserrat', sans-serif;  
    font-weight: 600;
    color: #d3baf5;
    background: linear-gradient(
        to right,
        #A1B182,
        #4B2E75
        
    ); 
    
    
    /* width: 250px;
    background-color: rgba(255,255,255,0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 30px 35px; */
}

.signUpForm {
    display: flex;
    flex-direction: column;
}

.signUpForm-input {
    font-family: 'Montserrat', sans-serif;  
    font-weight: 400;
    background-color: #f0e7e0;
    color: #a288c7;
    margin: 5px 0px ;
    height: 30px;
    border: 1px solid black;
    border-radius: 3px;
}
.signUpBtn {
    color: #fff;
    background-color:#946ECA;
    border-color: #946ECA;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    width: 30%;
    margin-left: 160px;
    margin-bottom: 20px;
}

.logInLink {
    margin-right: 35px;

}
.signUpHeader {
    font-family: 'Montserrat', sans-serif;  
    font-weight: 400; 
    color:white;
    text-align: center;
}

.signUp-login-btn{
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: 500;
    background-color: #613f91;
    color: #fff;
    padding: 15px 15px;
    border-radius: 3%;
    margin: auto;
    text-align: center;
    display: inline-block !important;
    text-decoration: none;
    border: 0px;
    width: max-content;
    cursor: pointer;
    transition: all 0.3s 0s ease-in-out;

}

.signUp-login-btn:hover {
    background-color: #616e34; 
    color: white;
    }