.loginFormComponent {
    width: 250px;
}

.loginForm {
    display: flex;
    flex-direction: column;
}

.loginForm-input {
    margin: 5px 0px;
    height: 30px;
    border: none;
    border-radius: 2px;
}

.linkToSignUp {
    display: flex;
    justify-content: space-around;
}
