.loginFormComponent {
    /* width: 250px; */
    width: 250px;
    background-color: rgba(223, 201, 201, 0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 30px 35px;
    
}

.loginForm {
    display: flex;
    flex-direction: column;
    
}

.loginBtn {
    font-family: 'Montserrat', sans-serif;  
    font-weight: 400;
    letter-spacing: 2px;
    background-color: #535F2D;
    color: #fff;
    padding: 1px 15px;
    border-radius: 3%;
    margin: auto;
    text-align: center;
    display: inline-block !important;
    text-decoration: none;
    border: 0px;
    width: max-content;
    cursor: pointer;
    transition: all 0.3s 0s ease-in-out;
}

.loginBtn:hover {
    background-color: #616e34; 
    color: white;
}
.loginForm-input {
    margin: 5px 0px;
    height: 30px;
    border: 1px solid black;
    border-radius: 3px;
}

.linkToSignUp {
    font-family: 'Montserrat', sans-serif;  
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}


.logInManifest {
    font-family: 'Montserrat', sans-serif;  
    font-weight: 600;
    color: #4B2E75
}


.signUp{
    color:#4B2E75
}

.home-page-signUp-btn{
    font-family: 'Montserrat', sans-serif;  
    font-weight: 400;
    letter-spacing: 2px;
    background-color:#4B2E75;
    color: #fff;
    padding: 7px 15px;
    border-radius: 3%;
    margin: auto;
    text-align: center;
    display: inline-block !important;
    text-decoration: none;
    border: 0px;
    width: max-content;
    cursor: pointer;
    transition: all 0.3s 0s ease-in-out;

}