.loginFormComponent {
    /* width: 250px; */
    width: 250px;
    background-color: rgba(223, 201, 201, 0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 30px 35px;
    
}

.loginForm {
    display: flex;
    flex-direction: column;
    
}

.loginBtn {
    background-color:#535F2D;
}
.loginForm-input {
    margin: 5px 0px;
    height: 30px;
    border: 1px solid black;
    border-radius: 3px;
}

.linkToSignUp {
    display: flex;
    justify-content: space-around;
}


.logInManifest {
    font-family: 'Montserrat', sans-serif;  
    font-weight: 600;
    color: #4B2E75
}