body {
    margin: 0;
}

main {
    margin: 16px;
}

.navbar {
    display: flex;
    align-items: center;
    background: #A1B182;
    color: #946ECA;
    font-family: Helvetica;
    font-weight: bolder;
    text-shadow: 2px 2px 5px 5px 9px #535F2D;
    color: #fff;
    font-size: calc(1.125rem * 1);
    line-height: 1;
    text-transform: uppercase;
}

.navbar__home {
    margin-right: auto;
    padding: 12px 16px;
    size-adjust: 50px;
    
}

.navbar__item {
    padding: 16px 16px;
    cursor: pointer;
    vertical-align: middle;
    font-size: 200%
}

img {
    max-width: 200px;
    border: 10px solid;
    border-radius: 10px;
    border-color:#946ECA;
}